body {
  font-family: Arial, sans-serif;
  background-color: #e7beff;
  margin: 0;
}

.header {
  background-color: #e7beff;
  color: white;
  padding: 20px;
  text-align: center;
}

#myInput {
  border: none;
  width: 75%;
  padding: 10px;
  margin-bottom: 10px;
}

.addBtn {
  padding: 10px 20px;
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
}

.addBtn:hover {
  background-color: #777;
}

.box {
  border: 2px solid #ddd;
  padding: 20px;
  background-color: #f9f9f9;
  width: fit-content; /* 가로 크기 조정 */
  height: 400px; /* 세로 크기 조정 */
  margin: 0 auto;
  text-align: left;
  border-radius: 10px;
}

#myUL li {
  display: flex;
  align-items: left;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 5px;
  position: relative;
  padding-left: 30px;
}

.editBtn {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: black;
  border: 1px solid black;
  margin-left: 200px;
  margin-right: 1px;
}
.deleteBtn {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.editBtn:hover,
.deleteBtn:hover {
  background-color: #45a049;
}
